html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

p {
    font-family: century-gothic, sans-serif;
}

h1 {
    font-size: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    font-size: 3rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.3rem;
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    text-transform: uppercase;
}

h4 {
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    text-transform: uppercase;
}

#myBtn {
    width: 50px;
    height: 50px;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50%;
    z-index: 1000;
    border: none;
    outline: none;
    background-color: rgb(216, 226, 255);
    color: white;
    cursor: pointer;
    padding: 3px;
    border-radius: 10px;
    font-size: 18px;
    transform: translate(50%);

}

button div {
    background-image: url(SVG/pil_op.svg);
    background-size: cover;
    width: 45px;
    height: 45px;
    position: relative;
}

#myBtn:hover {
    background-color: #d67da5;
}

/****************NAV****************/

header {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    height: 50vh;
    top: 0;
}

.menuknap {
    display: inline-block;
    cursor: pointer;
    margin-left: 80%;
    margin-top: 2%;
    position: relative;
    z-index: 2000;
    pointer-events: all;
}

.bar1,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    margin: 6px 0;
    transition: 0.4s;
    z-index: 1000;
}

.bar2 {
    width: 35px;
    height: 5px;
    background-color: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.20);
    margin: 6px 0;
    transition: 0.4s;
    z-index: 1000;
}




/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-46deg) translate(-8px, 7px);
    /*    background-color: #f9d1e3;*/
    background-color: #d67da5;
    /*    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.20);*/
    /*    background-color: #D5E59E;*/
    box-shadow: none;

}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    /*    background-color: #f9d1e3;*/
    background-color: #d67da5;
    box-shadow: none;
    /*    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.20);*/
    /*    background-color: #D5E59E;*/

}

.farve_single {
    background-color: #d67da5;
    box-shadow: none;
}

.logo_hvid {
    background-image: url(SVG/logo_planet_hvid.svg);
    height: 35px;
    width: 61px;
    background-size: cover;
    position: absolute;
    top: 4%;
    left: 2%;
    z-index: 500;
    cursor: pointer;
    pointer-events: all;
}

.logo_pink {
    background-image: url(SVG/logo_planet_lyseroed.svg);
    height: 35px;
    width: 61px;
    background-size: cover;
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 5000;
    cursor: pointer;
    pointer-events: all;
}

.logo_pink_kontakt {
    background-image: url(SVG/logo_planet_hvid.svg);
    height: 35px;
    width: 61px;
    background-size: cover;
    position: absolute;
    top: 4.5%;
    left: 2.3%;
    z-index: 500;
    cursor: pointer;
    pointer-events: all;
}


.hidden_menu {
    opacity: 0;
    transition: visibility .3s linear .3s, opacity .3s linear;
    pointer-events: none;
}


nav {
    background-color: white;
    width: 110vw;
    height: 110vh;
    z-index: 1000;
    position: relative;
    margin-top: -70px;
    margin-left: -10px;
    transition: visibility 0s linear .3s, opacity .3s linear;
}

#menu {
    list-style-type: none;
    padding-top: 100px;
    margin: 0 -25px;
}

nav a {
    text-decoration: none;
    color: black;
    opacity: 100%;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    position: relative;
    z-index: 1000;
    transition: color .3s ease-in-out;
    text-transform: uppercase;
    pointer-events: none;
}

.klikbar {
    pointer-events: all;

}

li {
    justify-content: center;
}

/*
.voresUnivers_menupunkt,
.shop_menupunkt,
.omos_menupunkt,
.kontakt_menupunkt,
.kurv_menupunkt {
    display: flex;
    height: 100px;
    width: 80vw;
    align-items: center;
    border-bottom: 2px solid black;
    opacity: 100%;
}
*/

.soeg_menupunkt {
    display: flex;
    height: 100px;
    width: 80vw;
    align-items: center;
}

.voresUnivers_menupunkt,
.omos_menupunkt {
    display: flex;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 40vw;
    height: 200px;
    align-items: center;
    text-align: center;
}

.shop_menupunkt,
.kontakt_menupunkt {
    width: 40vw;
    height: 200px;
    display: flex;
    border-bottom: 2px solid black;
    /*    border-right: 2px solid black;*/
    width: 40vw;
    height: 200px;
    align-items: center;
}

.kurv_menupunkt {
    border-right: 2px solid black;
    border-bottom: none;
    width: 40vw;
    height: 200px;
    display: flex;
    align-items: center;
}

.soeg_menupunkt {
    width: 40vw;
    height: 200px;
}

ul ul {
    display: flex;
}

/*
#menu {
    padding: 5% 8%;
}
*/

/*
.voresUnivers_menupunkt,
.shop_menupunkt,
.omos_menupunkt,
.kontakt_menupunkt,
.kurv_menupunkt {
    display: flex;
    height: 100px;
    width: 80vw;
    align-items: center;
    border-bottom: 2px solid black;
    opacity: 100%;
}

.soeg_menupunkt {
    display: flex;
    height: 100px;
    width: 80vw;
    align-items: center;
}

ul ul {
    margin-left: -30px;
}
*/


/***************INDEX***********************/

/*
.index_body {
    background-color: rgb(216, 226, 255);
}
*/

.farve1_container {
    position: absolute;
    left: 0px;
    top: 50px;
}

.farve1_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#f9cee0, rgba(255, 0, 0, 0) 70%);
}

.farve2_container {
    position: absolute;
    left: -20vw;
    top: -40vh;
}

.farve2_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#faf19b, rgba(255, 0, 0, 0) 70%);
}

.farve3_container {
    position: absolute;
    left: 100vw;
    top: -80vh;
}

.farve3_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#d6e397, rgba(255, 0, 0, 0) 70%);
}

.farve4_container {
    position: absolute;
    left: 10vw;
    top: -20vh;
}

.farve4_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#d6e397, rgba(255, 0, 0, 0) 70%);
}

.farve5_container {
    position: absolute;
    left: 50vw;
    top: -50vw;
}

.farve5_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#faf19b, rgba(0, 0, 0, 0) 70%);
}

.farve6_container {
    position: absolute;
    top: 10vh;

}

.farve6_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#f9cee0, rgba(0, 0, 0, 0) 70%);
}

.farve7_container {
    position: absolute;
}

.farve7_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#faf19b, rgba(0, 0, 0, 0) 70%);
}

.farve8_container {
    position: absolute;
    left: 80vw;
    top: -30vh;
}

.farve8_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#f9cee0, rgba(0, 0, 0, 0) 70%);
}

.farve9_container {
    position: absolute;
    top: -50vh;
    z-index: 1;
}

.farve9_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#d6e397, rgba(0, 0, 0, 0) 70%);
}

.farve10_container {
    position: absolute;
    left: 40vw;
    top: -70vh;
}

.farve10_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#faf19b, rgba(0, 0, 0, 0) 70%);
}

.farve11_container {
    position: absolute;
    left: 100vw;
    top: -50vh;
}

.farve11_sprite {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-image: radial-gradient(#f9cee0, rgba(0, 0, 0, 0) 70%);
}

.ltr {
    animation-name: ltr_kf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes ltr_kf {
    0% {

        transform: translateX(-10vw);
    }

    100% {
        transform: translateX(100vw);
    }
}


.rtl {
    animation-name: rtl_kf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes rtl_kf {
    0% {

        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-10vw);
    }
}

.updown {
    animation-name: updown_kf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes updown_kf {
    from {
        transform: translateY(-10vh);

    }

    to {
        transform: translateY(50vh);
    }
}

.updown2 {
    animation-name: updown2_kf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes updown2_kf {
    from {

        transform: translateY(100vh);
    }

    to {
        transform: translateY(-20vh);
    }
}

.round {
    transform-origin: left;
    animation-name: round_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes round_kf {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.round2 {
    transform-origin: left;
    animation-name: round2_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes round2_kf {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}



.splash_forside {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(216, 226, 255);
    overflow-x: hidden;
    overflow-y: hidden;
}

#forside_logo {
    background-image: url(SVG/forside_logo2.svg);
    background-size: cover;
    width: 400px;
    height: 299px;
    position: absolute;
    top: 29%;
    z-index: 500;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

}

/****************UNIVERS****************/

.splash {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    overflow-y: hidden;
    left: 0;
    background-color: rgb(216, 226, 255);
    overflow-x: hidden;
}

.vores_univers_svg {
    background-image: url(SVG/vores_univers_mobile.svg);
    background-size: cover;
    background-position: 50% 50%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    left: 0;
}


.indhold_univers {
    background-color: white;
    /*    height: 100vh;*/
    width: 100vw;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 100vh;
}

.univers_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 15px;
    /*    margin-top: 10px;*/
    /*    height: 200vh;*/
    /*    width: 100vw;*/
    position: relative;
    z-index: 5;
    left: 0;
    background-color: white;
    margin: 15px 15px;
}

.univers_article {
    cursor: pointer;
    display: flex;
    position: relative;

}

.univers_hvid_box {
    height: 100%;
    width: 100%;
    background-color: rgba(244, 248, 255, 0.9);
    position: absolute;
}

.post_navn {
    position: absolute;
    bottom: 6%;
    left: 7%;
    /*
    font-family: century-gothic, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
*/
    transform-origin: bottom left;
    max-width: 300px;
    margin: 0;
    color: #d67da5;

}

.post_dato {
    position: absolute;
    top: 6%;
    right: 6%;
    font-family: century-gothic, sans-serif;
    margin: 0;
    color: #d67da5;
}

.post_billede {
    max-width: 100%;
}

.post_tekst {
    display: none;
}

/***************UNIVERS SINGLE******************/

.univers_singleview {
    margin-top: 20px;
}

.tilbage {
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    cursor: pointer;
    text-decoration: underline;
    margin: 150px 15px 0;
    width: 100px;
}

.single_post_navn {
    /*
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    font-size: 3rem;
    text-transform: uppercase;
*/
    padding: 0 15px;
}

.single_post_dato {
    /*
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    text-transform: uppercase;
*/
    margin: -15px 15px 0;
}


.single_post_tekst1 {
    /*    font-family: century-gothic, sans-serif;*/
    padding: 0 15px;
    flex-grow: 1;
    flex-basis: 400px;
}

.single_post_tekst2 {
    /*    font-family: century-gothic,
sans-serif;*/
    padding: 0 15px;
    flex-grow: 1;
    flex-basis: 400px;
}

.single_post_billede {
    max-width: 95%;
    margin: 0 15px;
}

.boelge-blog {
    display: none;
}

/****************SHOP****************/


.indhold_shop .varevideo {
    max-width: 92%;
    padding: 4%;
    cursor: pointer;

}

.indhold_shop .vare {
    position: relative;
    cursor: pointer;
}

.indhold_shop .vare:hover img {
    opacity: 0;
}

.indhold_shop .vare:hover video {
    opacity: 1;
}

.indhold_shop .vare img {
    top: 0px;
    left: 0px;
    opacity: 1;

}

.indhold_shop .fade {
    transition: opacity .5s ease-in-out;
}

.indhold_shop video {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.shop_svg {
    background-image: url(SVG/shop_mobil.svg);
    background-size: cover;
    background-position: 50% 50%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
}

.indhold_shop {
    width: 100vw;
    /*    background-color: #F9CFE1;*/
    position: relative;
    top: 100vh;
    z-index: 2;
}

.pris {
    font-size: 1.2rem;
}

.vare-billede {
    max-width: 100%;
}

.shop-grid {
    display: grid;
    grid-gap: 25px;
    /*    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    margin: 0;
    /*    background-color: #f0f5ff;*/
    /*    background-color: rgb(216, 226, 255);*/
    background-color: #f3f9db;
    /*    background-color: #ffedf6;*/
    /*    background-color: #F9D0E2;*/
    padding: 3%;
    z-index: 3;
}


.vare {
    background-color: white;
    /*    background-color: #f0f5ff;*/
    padding: 4%;
}

#collage h2 {
    margin: 0;
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    padding: 100px 0 0 25px;

}

/*
.vare-navn {
    font-family: century-gothic, sans-serif;
    color: #d67da5;
        padding: 5% 0px;
    font-size: 2rem;
}
*/

.faste_varer {
    padding: 45px 45px 10px;
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    /*    background-color: #f0f5ff;*/
    /*    background-color: rgb(216, 226, 255);*/
    background-color: #f3f9db;
    margin: 0;
    font-size: 3rem;
    /*    color: black;*/
}

#collage {
    position: relative;
    /*    height: 200vh;*/
}

.collage_wrapper {
    width: 375px;
    position: relative;
    top: 0vh;
    margin: 0 auto;
    height: 600px;
    padding-bottom: 100px;
}

#collage img {
    max-width: 100%;
}

.collage-billede-1 {
    width: 340px;
    position: absolute;
    left: 20px;
    top: 145px;
}

.collage-smiley {
    position: absolute;
    top: 500px;
    width: 162px;
    left: 20px;
}

.collage-billede-2 {
    position: absolute;
    top: 675px;
    width: 164px;
    left: 20px;

}

.collage-billede-3 {
    position: absolute;
    width: 164px;
    right: 16px;
    top: 500px;
}

.collage-billede-4 {
    position: absolute;
    top: 675px;
    width: 164px;
    right: 16px;
}

.collage-billede-5 {
    position: absolute;
    width: 340px;
    left: 20px;
    top: 851px;
}

.boelge-shop {
    position: absolute;
    bottom: 15%;
    z-index: -1;
}


/****************SHOP SINGLEVIEW***************/

.single-view-vare {
    display: flex;
    flex-direction: column;
    padding: 22% 5%;
    align-items: flex-start;
    height: 100vh;
}

.single-view-vare .column {
    flex-grow: 1;
    flex-basis: 200px;
}

.vare-billede-sv {
    max-width: 95%;
}

.singleview-shop h2 {
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

.singleview-shop .pris-sv {
    font-family: century-gothic, sans-serif;
}

.singleview-shop .vare-beskrivelse-sv {
    font-family: century-gothic, sans-serif;
}

.singleview-shop button {
    background-color: #D5E59E;
    /*    background-color: #FAF29B;*/
    border: none;
    text-transform: uppercase;
    font-family: century-gothic, sans-serif;
    width: 100%;
    height: 45px;
    margin: 2vh 0;
}

.tilbage-shop {
    font-family: century-gothic, sans-serif;
    color: #d67da5;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 30px;

}

.boelge-shop-sv {
    display: none;
}

.singleview-shop .vare-video-sv {
    max-width: 95%;
    position: absolute;
    left: 0px;
    opacity: 0;
}

.singleview-shop .column {
    position: relative;
}

.singleview-shop .column:hover img {
    opacity: 0;
}

.singleview-shop .column:hover video {
    opacity: 1;
}

.singleview-shop .column img {
    top: 0px;
    left: 0px;
    opacity: 1;

}

.singleview-shop .fade {
    transition: opacity .5s ease-in-out;
}




/****************OM OS****************/

.omOS_svg {
    background-image: url(SVG/om_os_mobil.svg);
    background-size: cover;
    background-position: 50% 50%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    left: 0;
}

.indhold_omOS {
    background-color: white;
    height: 200vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    left: 0;
    top: 100vh;
}

#omosvideo {
    width: 85vw;
    height: 51vw;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.indhold_omOS .wave {
    fill: #F8E9AC;

}

.indhold_omOS #omos2 {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    position: relative;
    margin-bottom: 50px;
    /*    background-color: #f0f5ff;*/
    /*    background-color: rgb(216, 226, 255);*/
    background-color: #f3f9db;
}

.indhold_omOS #omos2 div div {
    margin-bottom: 50px;
}

/*
.indhold_omOS h2 {
    font-size: 2rem;
    font-family: century-gothic, sans-serif;
        padding: 45px 45px 10px;
    color: #d67da5;
}
*/

.boelge-om-os {
    display: none;
}

.indhold_omOS .smileyboks {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.indhold_omOS .omossmiley {
    width: 100px;
}




.omos_billede_container {
    width: 100vw;
    padding: 0 15px;
}



/****************KONTAKT****************/


.kontakt_svg {
    background-image: url(SVG/find_os_mobil.svg);
    background-size: cover;
    background-position: 50% 50%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;

}

.indhold_kontakt {
    background-color: white;
    height: 200vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    left: 0;
    top: 100vh;
}

.indhold_kontakt h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.kontakt_container {
    width: 100vw;
}

.kontakt_oplysninger {
    margin: 0 0 50px;
    align-self: center;
}

.kontakt_oplysninger h2 {
    padding: 45px 45px 5px;
    font-size: 2rem;

}

.kontakt_oplysninger li {
    list-style-type: none;
    font-family: century-gothic, sans-serif;
    padding: 0px 45px 5px;

}

.kontakt_oplysninger ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.billede_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billede-kontakt {
    /*    padding: 15px;*/
    width: 94%;
}

#kortcontainer {
    height: 60vh;
    width: 100vw;
    background-color: #F9D0E2;
    /*    background-color: #f3f9db;*/
}

#kortcontainer h2 {
    padding: 45px 0px 15px;
    font-size: 1.3rem;
    text-align: center;
    color: black;
}

#kortoverflow {
    background-size: cover;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#kort {
    background-image: url(SVG/kort_lille2.svg);
    width: 90vw;
    height: 53.93vw;
    background-size: cover;
    max-width: 540px;
    transition: .5s;
}

.indhold_kontakt .smileyboks {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.indhold_kontakt .omossmiley {
    width: 100px;
}

.indhold_kontakt #insta {
    max-width: 1199px;
    margin: auto;
    padding: 45px;
}


/****************FOOTER****************/

footer {
    width: 100%;
    height: 50px;
    background-color: white;
    position: relative;
    z-index: 500;
    bottom: -50px;
    left: 0;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}

.forside_footer {
    position: absolute;
}

.social {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facebook {
    width: 16.07px;
    height: 30px;
    background-image: url(SVG/facebook.svg);
    background-size: cover;
    /*
    position: absolute;
    top: 8px;
    right: 15%;
*/
}

.instagram {
    width: 29.98px;
    height: 30px;
    background-image: url(SVG/instagram.svg);
    background-size: cover;
    /*
    position: absolute;
    top: 8px;
    right: 5%;
*/
}


/****************MEDIA************************************************/


@media(min-width: 600px) {

    /***************NAV****************/

    .farve {
        background-color: #d67da5;
        /*    background-color: #f9d1e3;*/
        box-shadow: none;
        /*    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.20);*/
    }

    .logo_pink_kontakt {
        background-image: url(SVG/logo_planet_lyseroed.svg);
    }


    /****************UNIVERS****************/

    .splash {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
    }

    .vores_univers_svg {
        background-image: url(SVG/vores_univers.svg);
        background-position: 50% 90%;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        position: absolute;
        left: 0;
    }

    .indhold_univers {
        background-color: white;
        height: 200vh;
        width: 100vw;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 100vh;
    }

    .univers_grid {
        margin: 15px 15px;
    }

    .univers_hvid_box {
        opacity: 0;
        transition: .3s;
    }

    .univers_article:hover .univers_hvid_box {
        opacity: 1;
        transition: .3s;
    }


    /****************SHOP****************/


    .shop_svg {
        background-image: url(SVG/shop.svg);
        background-position: 50% 90%;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        position: absolute;
    }

    .indhold_shop {
        width: 100vw;
        position: absolute;
        z-index: 2;
        left: 0;
        /*        top: 100vh;*/
        top: 100vh;
    }

    .shop-grid {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
    }

    header {
        height: 100vh;
    }


    .collage_wrapper {
        width: 600px;
        position: relative;
        top: 0vh;

    }

    .collage-billede-1 {
        width: 340px;
        left: 20px;
        top: 270px;
    }

    .collage-smiley {
        top: 625px;
        width: 162px;
        left: 390px;

    }

    .collage-billede-2 {
        top: 610px;
        width: 340px;
        left: 20px;

    }

    .collage-billede-3 {
        width: 225px;
        right: 16px;
        top: 145px;
    }

    .collage-billede-4 {
        top: 370px;
        width: 225px;
        right: 16px;
    }

    .collage-billede-5 {
        width: 225px;
        left: 360px;
        top: 810px;
    }

    /****************SHOP SINGLEVIEW****************/

    .single-view-vare {
        flex-direction: row;
        padding: 3% 2% 0%;
    }

    .shop-single-tekst {
        padding: 10%;
    }

    /****************OM OS****************/


    .omOS_svg {
        background-image: url(SVG/om_os.svg);
        background-position: 50% 90%;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        position: absolute;
        left: 0;
    }

    .indhold_omOS {
        height: 200vh;
        width: 100vw;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 100vh;
    }


    /****************KONTAKT****************/


    .kontakt_svg {
        background-image: url(SVG/kontakt.svg);
        background-position: 50% 90%;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        position: absolute;
    }

    .indhold_kontakt {
        background-color: white;
        height: 200vh;
        width: 100vw;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 100vh;

    }

    #kortcontainer {
        width: 100vw;
        height: 90vh;
    }

    #kortoverflow {
        width: 100vw;
        height: 80vh;
    }

    #kort {
        max-width: 900px;
        max-height: 539.37px;
    }

    /***********************OM OS**********************/


}

@media(min-width: 900px) {
    .indhold_omOS #omos2 {
        flex-direction: row;
        padding: 40px 100px;

    }

    .indhold_omOS #column1 {
        padding-right: 10%;
    }

    #omosvideo {
        width: 80vw;
        height: 45vw;
        display: block;
    }
}

@media(min-width: 1000px) {
    /***********************NAV**********************/

    .rotate {
        animation-name: rotation_kf;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes rotation_kf {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .rotate:hover {
        animation-play-state: paused;
    }

    .menuknap {
        margin-left: 85%;
        margin-top: 2%;
    }


    .logo_pink.menu_link {
        top: 8.5%;
        left: 2.5%;
    }

    .logo_pink_kontakt {
        top: 3.8%;
        left: 1.9%;
    }

    nav {
        margin-top: -115px;
    }

    nav a {
        font-size: 3rem;
        text-align: center;

    }

    .voresUnivers_menupunkt,
    .omos_menupunkt {
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        width: 40vw;
        height: 200px;
    }

    .shop_menupunkt,
    .kontakt_menupunkt {
        width: 40vw;
        height: 200px;
    }

    .kurv_menupunkt {
        border-right: 2px solid black;
        border-bottom: none;
        width: 40vw;
        height: 200px;
    }

    .soeg_menupunkt {
        width: 40vw;
        height: 200px;
    }

    ul ul {
        display: flex;
    }

    #menu {
        padding: 7% 8%;
    }

    #menu a:hover {
        background: url("SVG/wave.svg");
        background-repeat: repeat;
        /*        background-position-x: 50%;*/
        /*        background-position-y: 100%;*/
        /*        background-size: auto auto;*/
        background-repeat: repeat-x;
        background-size: 50px 20px;
        background-position: 5px 5px;
        padding: 10px;
        /*        animation: move 15s linear infinite;*/
        -webkit-animation: move 17s linear infinite;
        /*        animation-play-state: paused;*/
        /*        text-decoration: none;*/
        /*        background-color: transparent;*/
        /*        -webkit-text-decoration-skip: objects;*/
    }

    #menu a:hover {
        animation-play-state: running;
    }


    @-webkit-keyframes move {
        from {
            background-position: 60px 60px;
        }

        to {
            background-position: 600px 60px;
        }
    }



    /***************UNIVERS SINGLE******************/

    .univers_singleview {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 150px;
    }

    .univers_singleview_containerBig {
        max-width: 60%;
    }

    .univers_singleview_containerTekst {
        display: flex;
    }

    .single_post_navn {
        margin: -13px 0 0;
    }

    .single_post_dato {
        margin: 0 15px;
    }

    .tilbage {
        margin: 150px 165px 0;
    }

    /************SHOP SINGLE********************************/

    .single-view-vare {
        padding: 1% 12% 0%;
        margin-top: 5%;
    }

    /************FIND OS**********************************/

    .kontakt_container {
        display: flex;
        flex-direction: row-reverse;
    }

    .kontakt_oplysninger {
        flex-grow: 1;
        flex-basis: 400px
    }

    .billede_container {
        flex-grow: 1;
        flex-basis: 400px
    }

    #kort {
        background-image: url(SVG/kort_stor2.svg);
    }

    #kort:hover {
        background-image: url(SVG/kort_lille2.svg);
        transition: .5s;
    }

    .kontakt_container {
        height: 80vh;
    }


}



@media(min-width: 1200px) {

    .collage {
        margin-bottom: 400px;
    }

    .collage_wrapper {
        width: 1000px;
        position: relative;
        top: -4vh;
        margin-left: 0 auto;

    }

    .collage-billede-1 {
        width: 340px;
        left: 20px;
        top: 100px;
    }

    .collage-smiley {
        top: 500px;
        width: 100px;
        left: 700px;

    }

    .collage-billede-2 {
        top: 440px;
        width: 200px;
        left: 160px;

    }

    .collage-billede-3 {
        width: 250px;
        right: 390px;
        top: 70px;
    }

    .collage-billede-4 {
        top: 320px;
        width: 250px;
        right: 390px;
    }

    .collage-billede-5 {
        width: 300px;
        left: 610px;
        top: 160px;
    }

    .boelge-blog {
        display: block;
        position: absolute;
        bottom: 15%;
        z-index: -1;
    }

    .boelge-shop-sv {
        display: block;
        position: absolute;
        bottom: 22%;
        z-index: -1;
    }

    .boelge-om-os {
        display: block;
        position: absolute;
        bottom: 15%;
        z-index: -1;
    }

}
